$margin :40px;
$icon-color:rgb(87, 82, 82);

.navbar{
    display: inline-flex;
    height: 50px;
   
    
}
.logo {

    height: 35px;
    width: 120px;
   
}
.searchbar{
  
    width:600px;
    margin-left: 150px;
    margin-right: 20px;;
    
    
    
}
.navicon{
    height: 25px;
    color: $icon-color;
    margin-right: 150px;
}
.nav-right-icon{
    margin-left:$margin;
      height:20px;
    color: $icon-color;
}