.item1{
    list-style: none;
    padding: 10px;
    margin-right: 20px;
      margin-bottom: 100px;
    
  
 
    
}
.item{
    list-style: none;
    padding: 10px;
    margin-right: 20px;
}
.item2{
    list-style: none;
    margin-top: 300px;
    margin-right: 20px;
}

.sidebar{
    width:300px;
    height: 600px;
    background-color:rgb(207, 209, 209);
    text-align: center;
}
.add_proj{
    background-color: rgb(97, 182, 238);
    border: 1px solid rgb(48, 157, 230);
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
